body {
  font-family: Arial, Helvetica, sans-serif;
  background: #f2f4f8;
  margin: 0;
}

.navbar {
  background: #1e3a8a;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
}

.navbar a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
}

.stream-container {
  width: 600px;
  margin: 40px auto;
  background: white;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 0 10px lightgray;
}

.stream-container h1 {
  text-align: center;
}

input {
  width: 70%;
  padding: 10px;
  font-size: 16px;
}

button {
  padding: 10px 14px;
  margin-left: 10px;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 25px;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f7f7f7;
  margin-bottom: 10px;
  padding: 12px;
  border-radius: 6px;
}

.completed {
  text-decoration: line-through;
  color: gray;
}

.buttons button {
  margin-left: 8px;
}
.product-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}


.product-card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 10px lightgray;
}


.product-card img {
  width: 120px;
  height: 120px;
  object-fit: contain;
}

.product-card button {
  background: #1e3a8a;
  color: white;
  border: none;
  border-radius: 5px;
}


.product-card button:hover {
  opacity: 0.8;
}


.cart-item {
  background: white;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 8px;
}